.section1{
      
  color: antiquewhite;
  background: #aa4b6b;
  background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b); 
  background-size: cover;
}
.ah{
  padding: 50px;
}
.as{
  background: #c31432;
  background: linear-gradient(to bottom, #240b36, #c31432);
}
.sam1{
  background: #0F2027;  
 background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
 color: antiquewhite;
}
.sam2{
  background: #1f4037;
  background: linear-gradient(to right, #99f2c8, #1f4037);
  color: antiquewhite;
}
.sam3{
  color: antiquewhite;
} 
.al{
  background: #ADA996;  
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  font-weight: bolder;

}
